<% provide(:title, 'About Us') %>
<h1>О Компании</h1>
<h4> ТУРИСТCКАЯ ФИРМА "ПУТЕШЕСТВЕННИК"</h4>

<p> Реестровый номер МТЗ 010679</p>
<p> Общество с ограниченной ответственностью "ПУТЕШЕСТВЕННИК"</p>


<p> Работаем:</p>

<p> с 10.00 до 20.00 c понедельника по пятницу и</p>

<p>с 11 до 16 часов в субботу.</p>

<h4>Офисы туристической компании Путешественник в Санкт-Петербурге:</h4>

<h5>офис на  Лиговский проспект</h5>
<p> Санкт-Петербург, Лиговский пр., д. 87, оф. 607</p>
<p> Телефоны:(812)   764-1122  764-2510</p>

<h5> офис на  пл Восстания</h5>
<p>  Санкт-Петербург, ул Восстания, д. 7, оф. 206</p>
<p> Телефоны:(812) 655-5054</p>
