<% provide(:title, 'Contact') %>
<h1>Контакты</h1>
<p><img src="images/6.jpg" alt="Фотография 2" width="600" height="400"></p>
<p>

</p>
<p>Наш адрес: 107140, Россия, г. Москва, Комсомольская площадь, д. 3/9, офис 5</p>
<p> Телефоны: (499) 975-19-49; (495) 517-51-35; 741-98-71</p>
<p> Факс: (499) 975-19-49</p>
