<% provide(:title, 'Help') %>
<tbody>
<tr align="middle">
  <td style="WIDTH: 2%" width="100%" colspan="3">
    <p style="MARGIN: 5px" align="right">
    </p><h2 align="right">Туры и экскурсии по России – прекрасный способ недорого отдохнуть и расширить свой кругозор!</h2></td></tr>
<tr>
  <td style="WIDTH: 39%" valign="top" width="50%">

    <h2>Предлагаем Вашему вниманию туры и экскурсии по России:</h2>
    <ul>

    <li>
      <div style="MARGIN: 5px"><a>Авиатуры на Соловки</a></div></li>

    <li>
      <div style="MARGIN: 5px"><a>Однодневные экскурсии</a></div></li>
    <li>

      <div style="MARGIN: 5px"><a>Тур выходного дня</a></div></li>
    <li>
      <div style="MARGIN: 5px"><a>Групповые туры</a> </div></li>
    <li>
      <div style="MARGIN: 5px"><a>Многодневные автобусные туры</a></div></li>
    <li>
      <div style="MARGIN: 5px"><a>Туры по Золотому Кольцу</a></div></li>
    <li>
      <div style="MARGIN: 5px"><a>Туры в Великий Устюг</a></div></li>
    <li>
      <div style="MARGIN: 5px">Туры в Суздаль</div></li>
    <li>
      <div style="MARGIN: 5px"><a>Туры на Байкал</a></div></li>
    <li>
      <div style="MARGIN: 5px"><a>Туры в Тулу</a></div></li>
    <li>
      <div style="MARGIN: 5px"><a>Туры в Волгоград</a></div></li>
    <li>
      <div style="MARGIN: 5px"><a>Туры в Бородино</a></div></li>
    <li>
      <div style="MARGIN: 5px"><a>Туры в Санкт-Петербург</a></div></li>

    <li>
      <div style="MARGIN: 5px"><a>Туры на Соловки</a></div></li>
    <li>
      <div style="MARGIN: 5px"><a>Туры в Карелию</a></div></li>
    <li>
      <div style="MARGIN: 5px"><a>Туры в Псков</a></div></li>
    <li>
      <div style="MARGIN: 5px"><a>Туры в Великий Новгород</a></div></li>
    <li>
      <div style="MARGIN: 5px"><a>Туры в Нижний Новгород</a></div></li>
    <li>
      <div style="MARGIN: 5px"><a>Туры в Казань</a></div></li>
    <li>
      <div style="MARGIN: 5px"><a>Туры в Архангельск</a></div></li>
    <li>
      <div style="MARGIN: 5px"><a>Туры в Смоленск</a></div></li>
    <li>
      <div style="MARGIN: 5px"><a>Туры в Рязань</a></div></li>
    <li>
      <div style="MARGIN: 5px"><a>Туры в Дивеево</a></div></li>
    <li>
      <div style="MARGIN: 5px"><a>Туры на Урал</a></div></li>
    <li>
      <div style="MARGIN: 5px"><a>Туры в Вологду</a></div></li>
    <li>
      <div style="MARGIN: 5px"><a>Туры на Домбай</a></div></li>
    <li>
      <div style="MARGIN: 5px"><a>Туры в Калининград</a></div></li>
    <li>
      <div style="MARGIN: 5px"><a>Туры в Курск</a></div></li>
    <li>
      <div style="MARGIN: 5px"><a>Туры в Орел</a></div></li>
    <li>
      <div style="MARGIN: 5px"><a>Туры в Тверь</a></div></li>
    <li>
      <div style="MARGIN: 5px"><a>Туры на Украину</a></div></li>
    <li>
      <div style="MARGIN: 5px"><a>Туры в Беларусь</a></div></li>
    <li>
      <div style="MARGIN: 5px"><a>Туры в Прибалтику</a></div></li>

  </ul></td>
  <td style="WIDTH: 2%">
    <p style="MARGIN: 5px"></p></td>
  <td valign="top" width="50%">

  <h2 align="center">Туры по России</h2>
    <p></p>
    <p style="MARGIN: 5px" align="justify"><strong>Туры по России</strong> привлекают огромное количество зарубежных туристов. Златоглавая, многоликая столица, или северный великолепный <a>Санкт-Петербург </a>уже давно стали визитной карточкой России для иностранцев. Однако <strong>экскурсии по России</strong> становятся все более популярными и среди самих россиян. Воспользовавшись открывшимися возможностями и съездив в Европу, а также отдохнув в Турции, Египте и Тунисе, многие наши соотечественники выбирают туры по России как способ проведения очередного отпуска. <br><br></p>
    <p style="MARGIN: 5px" align="center">
    </p><h2 align="center">Экскурсии по России от Владивостока до Калининграда</h2>
    <p style="MARGIN: 5px" align="justify"><strong>Экскурсии по России</strong> настолько же многообразны, как и ее природа и история. Выбрать <strong>туры по России</strong>, отвечающие вашим пристрастиям, настроению и финансовым возможностям очень просто, ведь Россия открывает перед любознательными путешественниками столько возможностей! <br><br>Незабываемое впечатление оставят <strong>экскурсии по России</strong> на теплоходе по великой русской реке – Волге. Делая остановки в различных городах, вы сможете познакомиться в жизнью и бытом русских городов, посетить множество музеев и получить ни с чем не сравнимое удовольствие от путешествия. </p>
    <p align="justify"></p>
    <p style="MARGIN-LEFT: 10px" align="justify">
    </p><h2 align="center">Туры по России - зимой и летом</h2>
    <p></p>
    <p style="MARGIN-LEFT: 10px" align="justify">Если вы интересуетесь историей Древней Руси и деревянным зодчеством – вам подойдут <a>туры по Золотому Кольцу России</a><strong>,</strong> круизы в Кижи, <a>туры в Псков</a> и <a>Великий Новгород</a>. <br><br>Если вы стремитесь познать природу, цените тишину и уединение, любите туристические походы, для вас существуют экологические <strong>туры по России</strong> – природа горного Алтая, озеро Байкал, Красноярские каменные столбы и огромное количество других природных памятников ждут вас! <br><br>Любителей зимних видов спорта привлекают горнолыжные склоны Домбасса, Приэльбрусье, Пятигорск. <br>Но Россия хороша не только зимой – курорты Краснодарского края и Приазовья издавна ценились за ровный, приятный климат, целебные воды и грязи, ласковый морской прибой и обилие свежих фруктов и овощей. <br><br>Здравницы Черноморского побережья, реконструированные и отвечающие всем современным требованиям, готовы принять взрослых и детей и обеспечить максимальный комфорт и эффективное лечение. </p>
    <p style="MARGIN-LEFT: 10px" align="justify">&nbsp;&nbsp;</p></td></tr></tbody>