<div class="jumbotron">
  <h1>Экскурсии по удивительным местам России</h1>

  <img src="images/1.jpg" alt="Фотография 1" width="400" height="400">
  <img src="images/2.jpg" alt="Фотография 2" width="400" height="400">
  <img src="images/3.jpg" alt="Фотография 1" width="400" height="400">
  <img src="images/4.jpg" alt="Фотография 2" width="400" height="400">

  <h2>
   <strong> Отдых в России</strong> — это огромные просторы, разнообразие ландшафтов и климатических зон от черноморских субтропиков до суровых красот Байкала, богатая многовековая история с уникальными обычаями и традициями, радушие и гостеприимство народов, населяющих нашу страну.
    Безусловно, объехать полмира, побывать на всех модных курортах — это здорово. Но хороший отдых — это не всегда отдых за границей. Многие из нас ни разу не были, на Волге, на озере Селигер, не знакомы ни с одним городом «Золотого кольца», не говоря уже об огромном количестве других уникальных мест, которыми так богата Россия.
    Отдых в России имеет массу преимуществ: отсутствие языкового барьера и проблем с обменом валюты, отсутствие необходимости в оформлении визы (экономия времени и денег), недорогие и интересные туры выходного дня, увлекательный экскурсионный отдых, комфортабельный пляжный отдых, насыщенный активный отдых, захватывающий горнолыжный отдых, манящие круизы, эффективный оздоровительный отдых и многое другое.
  </h2>
  <%= link_to "Подать заявку прямо сейчас!", signup_path, class: "btn btn-large btn-success" , id: "sign" %>
      </div>

